<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Programming Levels - Akdeniz</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="~/assets/img/favicon.png" rel="icon">
  <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  
</head>
<body>
  <partial name="_NavPartial"></partial>
  <main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Programming Levels</h2>
        <div>
          @RenderBody()
        </div>
      </div>
    </div>
    <partial name ="_LevelPartial"> </partial>
    <section id="course-details-tabs" class="course-details-tabs">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Beginner</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Elementary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Intermediate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Upper Intermediate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Advanced</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>A1 – Beginner</h3>
                    <p class="fst-italic">Programming offers Levels 3-5</p>
                    <p>At this level you can write simple programs to solve basic problems.
                       You may not have enough experience to work on complex projects, but you can understand simple programming concepts and algorithms.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/A1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>A2 – Elementary</h3>
                    <p class="fst-italic">Programming offers Levels 6-9</p>
                    <p>At this level, you are comfortable working on small projects and understanding more advanced programming concepts.
                       You may still need assistance with more complex algorithms and data structures.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/A2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>B1 – Intermediate</h3>
                    <p class="fst-italic">Programming offers Levels 10-13</p>
                    <p>At this level, you are proficient in programming and can work on medium-sized projects independently.
                      You can understand and implement complex algorithms and data structures, and you are comfortable debugging and optimizing your code.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/B1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>B2 – Upper Intermediate</h3>
                    <p class="fst-italic">Programming offers Levels 14-17</p>
                    <p>
                      At this level, you are an advanced programmer capable of working on large-scale projects and collaborating with teams.
                       You can design and implement complex software systems, and you have experience with software architecture and design patterns.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/B2.png" alt="" class="img-fluid">
                  </div>
                </div
                              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>C1 – Advanced</h3>
                    <p class="fst-italic">Programming offers Levels 18-20.</p>
                    <p>At this level, you are an expert programmer with a deep understanding of programming principles and practices.
                       You can architect and build complex software systems from scratch, and you have experience with various programming languages and frameworks.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/C1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <partial name="_FooterPartial"></partial>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>

